*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.wrapper{
    width: 2400px;
    margin: auto;
    position: relative; 
}

.logo a {
    font-size: 10px;
    font-weight: bold;
    float: left;
    font-family: 'Courier New', Courier, monospace;
    color: #f7f5f2;
}

.menu{
    float: right;
    color: white;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 50px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-color: #2b2b2b;
}

nav ul{
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a{
    color: aliceblue;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover{
    text-decoration: underline;
}


